.layout_editor-items, .layout_layout-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 720px;
}

.layout_layout-buttons {
  margin:  0 12px 12px;
}