.text-editor {
  padding: 5px;
  margin: 6px;
  border: 1px solid orange;
  border-radius: 6px;
  min-height: 15em;
	max-height: 50vh;
  min-width: 250px;
  max-width: 720px;
  width: 90%;
  outline: none;
  resize: none;
  background-color: aliceblue;
  box-shadow: inset 0 0 10px orange;
  flex: 1 1 250px;
}

.text-editor:focus {
  background-color: beige;
  border-color: orangered;
}
